{% extends 'base.html'%}

{% block content%}
    <h2>Acerca de</h2>
    <p>
        Este es el proyecto final de la materia Minería de Datos. 
        Se implementan algunos algoritmos vistos en clase que resultan de gran utilidad 
        para analizar diversas cantidades de datos y obtener información útil de ellos.
    </p>
    <h2>Acerca de mi</h2>
    <h5>Autor</h5>
    <img alt="Avatar" style="width:200px" src="https://avatars1.githubusercontent.com/u/13109372?s=460&amp;u=9d6cd048e5171aa8c03bb5b56fdcb1a2f3b73228&amp;v=4">
    <p>Miguel Ángel López Soto (TheJorseman)</p>  
    <p>Estudiante de Ingeniería en Computación. Gamer por diversión. Apasionado de la Inteligencia Artificial, Física, Matematicas, Neurociencias y sobre todo, Computación.</p> 
    <p>No se que mas poner xD</p>
    <h5>Repositorio</h5>
    <a href="https://github.com/miguel17546mals/DataMining">
        <span style="color: cornflowerblue;">Github</span> 
    </a>
    <h5>Licencia </h5>
    <a href="https://choosealicense.com/licenses/agpl-3.0/">
        <span style="color: cornflowerblue;">GNU AGPLv3</span> 
    </a>
{% endblock%}