{% extends 'base.html'%}
{% block content%}

{% block description%}
{% endblock%}
<script rel="text/javascript" src="{{ url_for('static',filename='js/upload_files.js')}}"></script>
<script rel="text/javascript" src="{{ url_for('static',filename='js/slider_js.js')}}"></script>
<div id="base">
    <form id="analize-file-form" method="POST" enctype="multipart/form-data">
        <h5>Archivo</h5>
        <div class="row">
            <div class="custom-file col-4 ml-2">
                <input name="file" id="file" type="file" class="custom-file-input" lang="es" accept=".xls,.xlsx, .csv, .txt">
                <label class="custom-file-label" for="file">Seleccionar Archivo</label>
            </div>
        </div>
        <br>
        <h5>Header</h5>
        <div class="form-check">
            <input type="checkbox" id="header" class="form-check-input" name="header" value="True" checked>
            <label class="form-check-label" for="header">Incluir Header</label><br>
        </div>
        <br>
        <div class="form-check">
            <input type="checkbox" id="is_table" class="form-check-input" name="is_table" value="True" checked>
            <label class="form-check-label" for="header"><span>Es una tabla (Desactivado si es una lista de listas)</span></label><br>
        </div>
        <br>
        <fieldset>
            <button id="analize-file-btn" type="button" class="btn btn-sm btn-primary">Analizar Tabla</button>
        </fieldset>
    </form>
    <div id="features-container" style="display: none;">
        <br>
        <form id="config-data-form" method="POST" enctype="multipart/form-data"></form>
            <div>
                <h5>Seleccione las caracteristicas que desea incluir en el analisis</h5>
                <div id="features">
                </div>
                <br>
                <h5>Datos de la tabla</h5>
                <div id="head_table">
                </div>
                <br>
                <div id="data-len">
                    <h5>Seleccione el numero de registros a incluir en el analisis</h5>
                    <span>Hay un total de </span> <span id="span_len">n</span> <span> registros</span>
                    <div class="row">
                        <div class="ml-3 col-xs-2">
                            <input type="text" class="form-control" id="df_len" value="85" placeholder="85">
                        </div>
                    </div>
                    <br>
                    <div id="random-data">
                        <div class="form-check">
                            <input type="checkbox" id="random" class="form-check-input" name="random" value="False">
                            <label class="form-check-label" for="header"><span>Elegir los datos de forma aleatoria</span></label><br>
                        </div>
                    </div>
                </div>
                <!-- 
                <div id="others" class="d-none">
                    <br>
                    <h5>Otras Opciones</h5>
                    <div class="form-check">
                        <input type="checkbox" id="header" class="form-check-input" name="header" value="False">
                        <label class="form-check-label" for="header"><span>Es una tabla (Desactivado si es una lista de listas)</span></label><br>
                    </div>
                </div>
                -->
                <br>
                <fieldset>
                    <button id="save-conf-btn" type="button" class="btn btn-sm btn-primary">Guardar Configuracion</button>
                </fieldset>
                <div name="separator" style="height: 300px;">
                </div>
            </form>
        </div>
    </div>
</div>
<div id="algorithm" style="display: none;">
    <div id="summary">
        <h5>Resumen del archivo</h5>
        <strong>Nombre del archivo: </strong> <span id="filename_summary"></span>
        <br>
        <strong>Número de Columnas: </strong> <span id="rows_summary"></span>
        <h6><strong>Columnas seleccionadas:</strong></h6>
        <div id="table_summary">
        </div>
    </div>
    {% block algorithm%}
    {% endblock%}
</div>

{% endblock%}

