<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mineria De Datos</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/upload.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/loader.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/items.css')}}">
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- Datatables.net -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script rel="text/javascript" src="{{ url_for('static',filename='js/common.js')}}"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Data Mining Tools</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/"> <i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-code" aria-hidden="true"></i>Algoritmos</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/apriori">A priori</a>
                        </li>
                        <li>
                            <a href="/correlaciones">Correlaciones</a>
                        </li>
                        <li>
                            <a href="/metricas">Métricas</a>
                        </li>
                        <li>
                            <a href="/clustering">Clustering</a>
                        </li>
                        <li>
                            <a href="/regression">Regresión</a>
                        </li>
                        <li>
                            <a href="/inference">Inferencia</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/about"><i class="fa fa-paper-plane" aria-hidden="true"></i>Acerca De</a>
                </li>
        </nav>
        <!-- Page Content  -->
        <div id="content" style="background-color: #F5F5F6;">
            <button id="button-toggle-sidebar" type="button" class="btn btn-primary-custom">
                <i class="fas fa-bars" style="color: aliceblue;"></i>
            </button>
            <br>
            {% include 'modal.html' %} 
            <div id="js-loader" style="display: none;">
                <div class="block_page"></div>
                <div class="loader"></div>
            </div>
            {% block content%}
            {% endblock%}
            <div id="separator" style="height: 300px; background-color: rgba(0, 0, 0, 0);">
            </div>
        </div>
    </div>
</body>
<div class="footer" style="background-color:#25476D;">
    <div class="footer-copyright text-center py-3" style="color: aliceblue;">© 2021 Copyright:
    <a href="https://thejorseman.com/" style="color: aliceblue;"> TheJorseman.com</a>
    </div>
</div>
</html>