{% extends 'algorithm_base.html'%}

{% block description%}  
<h2>Clustering</h2>
<p>Descripción del algoritmo.</p>
{% endblock%}

{% block algorithm%}
    <script rel="text/javascript" src="{{ url_for('static',filename='js/clustering.js')}}"></script>
    <br>
    <div id="clustering">
        <!-- Preprocesamiento -->
        {% include 'reselect_columns.html' %}
        {% include 'show_pearson_matrix.html' %}
        <!-- Analisis -->
        <h5>Seleccione el método</h5>
        <div class="row">
            <div class="col-4">
                <label for="clustering_method">Método</label>
                <select id="clustering_method" class="form-control" name="clustering_method">.
                    <option value="partitional">Particional (K Means)</option>
                    <option value="hierarchy">Jerarquico</option>
                </select>
            </div>
        </div>
        <br>
        <h6>Número de clusters</h6>
        <div class="row">
            <div class="ml-3 col-xs-2">
                <input class="form-control" type="text" id="n_clusters" value="5" placeholder="5"><span id="errmsgs" style="color: red;"></span>
            </div>
        </div>
        <br>
        <!-- Pre Análisis -->
        <div id="heuristic_container" style="display: none;">
            <h5>Utilizar heuristica para obtener el número de clusters</h5>
            <div id="elbow_container" style="display: none;">
                <span>La heuristica marca </span> <span id="span_elbow">n</span> <span> clusters, Se ha actualizado el campo.</span>
            </div>
            <br>
            <button id="heuristic_method" type="button" class="btn btn-sm btn-primary">Obtener</button> 
        </div>  
        <br>
        <br>    
        <h5>Mostrar Visualización para elegir el número de clusters</h5>
        <button id="visualization_method" type="button" class="btn btn-sm btn-primary">Mostrar</button>
        <br>  
        <br> 
        <div id="visualization_method_container">
        </div>
        <br>
        <!-- Clusetring --> 
        <h5>Clustering</h5>
        <button id="clustering_button" type="button" class="btn btn-sm btn-primary">Realizar clustering</button>
        <br>
        <br>
        <div id="clustering_container">
        </div>
        {% include 'export.html' %}
        <!-- Clusetring 
        <div id="export" style="display: none;">
            <a href="/export_table" target="blank">
                <button type="button"  class="btn btn-sm btn-primary">Exportar Tabla a CSV</button>
            </a>
        </div>
        --> 
    </div>
{% endblock%}