{% extends 'algorithm_base.html'%}

{% block description%}  
<h2>Clustering</h2>
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Descripción
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div>
                <p>
                    La Minería de Datos, como subdominio de la Inteligencia Artificial, aplicada a la definición
                    de cluster consiste en la segmentación y delimitación de grupos de elementos, que son
                    unidos por características comunes que éstos comparten (aprendizaje no supervisado).
                </p>
                <p>
                    El objetivo es dividir una población heterogénea de datos en un número de grupos naturales
                    (regiones o segmentos homogéneos), de acuerdo a la similitud de sus elementos.
                </p>
                <p>Métodos para hacer clustering</p>
                <ul style="list-style-type:disc">
                    <li>
                        <strong>Clustering Jerarquico.</strong><br>
                        <span>
                            Organiza los
                            elementos, de
                            manera recursiva,
                            en una estructura
                            en forma de árbol.
                        </span>
                    </li>
                    <li>
                        <strong>Clustering Particional.</strong><br>
                        <span>
                            Organiza los
                            registros dentro
                            de k grupos.
                        </span>
                    </li>
                </ul> 
                
                <strong>Los métodos particionales </strong> <span>tienen ventajas en aplicaciones que involucran <strong> gran cantidad de
                    datos</strong>, para los cuales, la construcción de un árbol puede resultar complejo.
                </span>
            </div>            
        </div>
      </div>
    </div>
</div>
<br>
<br>
{% endblock%}

{% block algorithm%}
    <script rel="text/javascript" src="{{ url_for('static',filename='js/clustering.js')}}"></script>
    <br>
    <div id="clustering">
        <!-- Preprocesamiento -->
        {% include 'reselect_columns.html' %}
        {% include 'show_pearson_matrix.html' %}
        <!-- Analisis -->
        <h5>Seleccione el método</h5>
        <div class="row">
            <div class="col-4">
                <label for="clustering_method">Método</label>
                <select id="clustering_method" class="form-control" name="clustering_method">.
                    <option value="partitional">Particional (K Means)</option>
                    <option value="hierarchy">Jerarquico</option>
                </select>
            </div>
        </div>
        <br>
        <h6>Número de clusters</h6>
        <div class="row">
            <div class="ml-3 col-xs-2">
                <input class="form-control" type="text" id="n_clusters" value="5" placeholder="5"><span id="errmsgs" style="color: red;"></span>
            </div>
        </div>
        <br>
        <!-- Pre Análisis -->
        <div id="heuristic_container" style="display: none;">
            <h5>Utilizar heuristica para obtener el número de clusters</h5>
            <div id="elbow_container" style="display: none;">
                <span>La heuristica marca </span> <span id="span_elbow">n</span> <span> clusters, Se ha actualizado el campo.</span>
            </div>
            <br>
            <button id="heuristic_method" type="button" class="btn btn-sm btn-primary">Obtener</button> 
        </div>  
        <br>
        <br>    
        <h5>Mostrar Visualización para elegir el número de clusters</h5>
        <button id="visualization_method" type="button" class="btn btn-sm btn-primary">Mostrar</button>
        <br>  
        <br> 
        <div id="visualization_method_container">
        </div>
        <br>
        <!-- Clusetring --> 
        <h5>Clustering</h5>
        <button id="clustering_button" type="button" class="btn btn-sm btn-primary">Realizar clustering</button>
        <br>
        <br>
        <div id="clustering_container">
        </div>
        {% include 'export.html' %}
        <!-- Clusetring 
        <div id="export" style="display: none;">
            <a href="/export_table" target="blank">
                <button type="button"  class="btn btn-sm btn-primary">Exportar Tabla a CSV</button>
            </a>
        </div>
        --> 
    </div>
{% endblock%}