{% extends 'base.html'%}

{% block content%}
<div class="text_container">
    <h2>Mineria de Datos.</h2>
    <p>El Data Mining es un conjunto de técnicas y tecnologías que permiten explorar grandes bases de datos, de manera automática o semiautomática, con el objetivo de encontrar patrones repetitivos que expliquen el comportamiento de estos datos.</p>
</div>
<img src="/static/img/DataMiningBanner.png" class="rounded mx-auto d-block" alt="Responsive image">
<br>
<h3>Algoritmos Implementados</h3>
<br>
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/static/img/AprioriCard.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Apriori</h5>
        <p class="card-text">
            Es un algoritmo que permite encontrar de forma eficiente "conjuntos de ítems frecuentes", los cuales sirven de base para generar reglas de asociación.
        </p>
        <br>
        <a href="/apriori">
            <button class="btn btn-primary">Probar</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/img/CorrelationCard.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Correlación de Pearson</h5>
        <p class="card-text">El coeficiente de correlación de Pearson es una prueba que mide la relación estadística entre dos variables continuas.</p>
        <br>
        <a href="/correlaciones">
            <button class="btn btn-primary">Probar</button>
        </a>
    </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/img/MetricasCard.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Métricas</h5>
        <p class="card-text">
            Una métrica o función distancia es una función que define una distancia entre cada par de elementos de un conjunto.
            Es de gran importancia en Inteligencia Artificial y en minería de datos.          
        </p>
        <a href="/metricas">
            <button class="btn btn-primary">Probar</button>
        </a>        
    </div>
    </div>
</div>
<br>
<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/static/img/ClusteringCard.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Clustering</h5>
        <p class="card-text">
            El objetivo es dividir una población heterogénea de datos en un número de grupos naturales
            (regiones o segmentos homogéneos), de acuerdo a la similitud de sus elementos.
        </p>
        <br>
        <br>
        <a href="/clustering">
            <button class="btn btn-primary">Probar</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/img/RegressionCard.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Regresion</h5>
        <p class="card-text">
          La Regresión es un proceso estadístico en donde se estiman las relaciones entre variables. Existen muchas técnicas de modelado
          en este link encontrarás los mas comunes, Regresión Lineal y Regresión Logística. 
        </p>
        <br>
        <br>
        <a href="/regression">
            <button class="btn btn-primary">Probar</button>
        </a>
    </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/static/img/SVMCard.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">SVM</h5>
        <p class="card-text">
          Intuitivamente, una SVM es un modelo que representa los puntos en el espacio, separando las clases en dos (espacios) mediante un hiperplano.
          Hoy en día, SVM constituye un referente en el aprendizaje automático, sobre todo para encontrar la manera óptima de resolver problemas de clasificación.
        </p>
        <a href="/svm">
            <button class="btn btn-primary">Probar</button>
        </a>
    </div>
    </div>
</div>

{% endblock%}