{% extends 'base.html'%}

{% block content%}
<div id="separator" style="height: 30px;">
</div>
<div>
    <h4>Upps, parece que no hay ningún modelo guardado.</h4>
    <div class="row">
        <div class="col-6">
            <img src="/static/img/chems.png" class="rounded mx-auto d-block" alt="Responsive image">
            <h4>Puedes generar y guardar un modelo haciendo click en el siguiente cheems.</h4>
            <a href="/regression" class="btn-link">
                <img src="/static/img/cheems-tierno.png" class="rounded mx-auto d-block" alt="Responsive image">
            </a>
        </div>
    </div>
</div>
{% endblock%}