{% extends 'algorithm_base.html'%}

{% block description%}  
<h2>Metricas</h2>
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Descripción
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <div>
                <p>
                    Una métrica o función distancia es una función que define una distancia entre cada par de elementos de un conjunto. <br>
                    Es de gran importancia en Inteligencia Artificial y en las áreas de reconocimiento de patrones, minería de datos, clustering, recuperación de información, lógica no binaria, etc.<br>
                    <br>
                    Existen diferentes métricas como:
                    <ul style="list-style-type:disc">
                        <li>Métrica euclidiana.</li>
                        <li>Métrica Chebyshev.</li>
                        <li>Métrica Manhattan.</li>
                        <li>Métrica Minkowski.</li>
                    </ul>   
                </p>
            </div>            
        </div>
      </div>
    </div>
</div>
{% endblock%}

{% block algorithm%}
    <script rel="text/javascript" src="{{ url_for('static',filename='js/metrics.js')}}"></script>
    <br>
    <div id="metricas">
        <h5>Seleccione la métrica</h5>
        <div class="row">
            <div class="col-4">
                <label for="metric">Métrica</label>
                <select id="metric" class="form-control" name="metric">
                    <option value="euclidean">Euclidiana</option>
                    <option value="chebyshev">Chebyshev</option>
                    <option value="manhattan">Manhattan</option>
                    <option value="minkowski">Minkowski</option>
                </select>
            </div>
        </div>
        <br>
        <div id="minkowski_value" style="display: none;">
            <h5>Seleccione el coeficiente de Minkowski</h5>
            <div class="row">
                <div class="col-4">
                    <input class="form-control" id="minkowski_coef" value="2" placeholder="2" type="text"><span id="span_minkowski_coef" style="color: red;"></span>
                </div>
            </div>
        </div>   
        <br>  
        <button id="show_distance_matrix" type="button" class="btn btn-sm btn-primary">Calcular distancias</button>
        <br>  
        <br>
        <div id="distance_table_container">
        </div>
        {% include 'export.html' %}
        
        
    </div>



    <!--
    <h6>Or arrastra el archivo</h6>
    <div class="upload-drop-zone" id="drop-zone">
        Arrastra el archivo aqui.
    </div>
    
    -->
{% endblock%}