{% extends 'algorithm_base.html'%}

{% block description%}  
<h2>Regresión</h2>
<div id="accordion">
    <div class="card">
      <div class="card-header" id="var-ser-h">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#var-collapse" aria-expanded="false" aria-controls="var-collapse">
            Descripción
          </button>
        </h5>
      </div>
  
      <div id="var-collapse" class="collapse" aria-labelledby="var-ser-h" data-parent="#accordion">
        <div class="card-body">
            <div>
                Descripción.
            </div>            
        </div>
      </div>
    </div>
</div>
{% endblock%}

{% block algorithm%}
<script rel="text/javascript" src="{{ url_for('static',filename='js/regression.js')}}"></script>
<script rel="text/javascript" src="{{ url_for('static',filename='js/save_model.js')}}"></script>
<div id="reg-alg">
    <div class="card">
        <div class="card-header" id="logistic-head">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-logistic" aria-expanded="false" aria-controls="collapse-logistic">
                Regresión Logística
            </button>
          </h5>
        </div>
        <div id="collapse-logistic" class="collapse" aria-labelledby="logistic-head" data-parent="#reg-alg">
          <div class="card-body">
            {% include 'logistic_reg.html' %}
          </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="linear-head">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-linear" aria-expanded="false" aria-controls="collapse-linear">
                    Regresión Lineal
                </button>
              </h5>
          </div>
          <div id="collapse-linear" class="collapse" aria-labelledby="linear-head" data-parent="#reg-lin-alg">
            <div class="card-body">
                {% include 'linear_reg.html' %}
            </div>
          </div>
    </div>
</div>

{% endblock%}