

<h5>Selección de Caracteristicas</h5>
<div class="form-check">
    <input type="checkbox" id="all-columns-common" class="form-check-input" name="all-columns-common" value="True" checked>
    <label class="form-check-label" for="all-columns-common">Incluir Todas las columnas</label><br>
</div>
<br>
<div id="features-common" style="display: none;">
    <h5>Seleccione las caracteristicas que desea incluir en el analisis</h5>
    <div id="features-common-container">
    </div>
    <button id="save-columns-btn" type="button" class="btn btn-sm btn-primary">Guardar Configuracion</button>
</div>